{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
    <link rel="stylesheet" href="{% static 'items.css' %}">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/search.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/profile.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/shopping-bag.css' rel='stylesheet'>
  </head>
  <body>
    <div class="menu-top">
      <div class="menu-titles">
        <div class="menuTitle">Items</div>
        <div class="menuTitle">Sales</div>
        <div class="menuTitle">Delivery</div>
        <div class="menuTitle">Contacts</div>
      </div>
      <div class="logo">LOGO</div>
      <div class="menu-icons">
        <i class="gg-search"></i>
        <i class="gg-profile"></i>
        <i class="gg-shopping-bag"></i>
      </div>

    </div>
    <div class="start-items">
      <div class="filter-button">
        <div class="filter-text">Filters</div>
      </div>
      <div class="items-list">
        <div class="item">
          <div class="pic-item"></div>
          <div class="desq-item">Item #1</div>
          <div class="cost-item">00.0 UAH</div>
          <div class="button-item">
            <div class="text-button">Add to cart</div>
          </div>
        </div>
        <div class="item">
          <div class="pic-item"></div>
          <div class="desq-item">Item #2</div>
          <div class="cost-item">00.0 UAH</div>
          <div class="button-item">
            <div class="text-button">Add to cart</div>
          </div>
        </div>
        <div class="item">
          <div class="pic-item"></div>
          <div class="desq-item">Item #3</div>
          <div class="cost-item">00.0 UAH</div>
          <div class="button-item">
            <div class="text-button">Add to cart</div>
          </div>
        </div>

        <div class="item">
          <div class="pic-item"></div>
          <div class="desq-item">Item #1</div>
          <div class="cost-item">00.0 UAH</div>
          <div class="button-item">
            <div class="text-button">Add to cart</div>
          </div>
        </div>
        <div class="item">
          <div class="pic-item"></div>
          <div class="desq-item">Item #2</div>
          <div class="cost-item">00.0 UAH</div>
          <div class="button-item">
            <div class="text-button">Add to cart</div>
          </div>
        </div>
        <div class="item">
          <div class="pic-item"></div>
          <div class="desq-item">Item #3</div>
          <div class="cost-item">00.0 UAH</div>
          <div class="button-item">
            <div class="text-button">Add to cart</div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
